{% extends "admin.html" %}

{% import "admin.html" as admin %}

{% block title %}
    Ingredients
{% endblock %}

{% block app_scripts %}
    <!-- JavaScript for this page -->
    {{ super() }}
    <script src="/static/scripts/ingredients.js" type="text/javascript"></script>
{% endblock %}

{% block form %}
    {{ super() }}
    <div class="form-group">
        <label for="select-category">Category</label>
        <select form="{{ form_id }}" class="form-control" id="select-category" name="category_id" data-default=0 required>
            <option value=0 selected="selected" disabled>select category</option>
            {% for c in categories|sort(attribute="name") %}
                <option value={{ c["id"] }}>{{ c["name"] }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#allergies" aria-expanded="false" aria-controls="allergies">
        Allergies
    </button>
    <div class="collapse border" id="allergies">
        {% for a in allergies %}
            <label>
                <input form="{{ form_id }}" class="ml-2" type="checkbox" id="allergies-allergy_{{ a['id'] }}" name="allergies" value="{{ a['id'] }}" data-default=false>
                {{ a["name"] }}
            </label>
        {% endfor %}
    </div>
{% endblock %}
