{% extends "admin.html" %}

{% set CHECKBOX_GRID_WIDTH = 4 %}
{% set BOOTSTRAP_MAX_COLS = 12 %}

{% block title %}
    Ingredients
{% endblock %}

{% block app_scripts %}
    <!-- JavaScript for this page -->
    {{ super() }}
    <script src="/static/scripts/ingredients.js" type="text/javascript"></script>
{% endblock %}

{% block form_write scoped %}
    {{ super() }}
    <div class="form-group">
        <label for="select-category">Category</label>
        <select form="{{ form_id }}" class="form-control" id="select-category" name="category_id" data-default=0 required>
            <option value=0 selected="selected" disabled>select category</option>
            {% for c in categories|sort(attribute="name") %}
                <option value={{ c["id"] }}>{{ c["name"] }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#allergies" aria-expanded="false" aria-controls="allergies">
        Allergies
    </button>
    <div class="collapse border" id="allergies">
        <div class="container">
            {% for row in allergies|sort(attribute="name")|batch(CHECKBOX_GRID_WIDTH) %}
                <div class="row">
                    {% for allergy in row %}
                        {% if allergy %}
                        <div class="col-{{ (BOOTSTRAP_MAX_COLS / CHECKBOX_GRID_WIDTH)|int }}">
                            <label>
                                <input form="{{ form_id }}" type="checkbox" id="allergies-allergy_{{ allergy['id'] }}" name="allergies" value="{{ allergy['id'] }}" data-default=false>
                                {{ allergy["name"] }}
                            </label>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
