{% extends "admin.html" %}

{% set RECIPE_IMG_PATH = url_for("static", filename="images/recipes/") %}
{% set IMG_DEFAULT = "0.jpg" %}

{% macro content_to_td(content) -%}
    {% set ns = namespace(content=content, td_str="") %}
    {% set ns.td_str = ns.content["ingredient"] %}
    {% if ns.content["amount"] %}
        {% set ns.td_str = ns.td_str + ": " + ns.content["amount"]|string %}
    {% endif %}
    {% if ns.content["units"] %}
        {% set ns.td_str = ns.td_str + " " + ns.content["units"] %}
    {% endif %}

    {{ ns.td_str }}
{%- endmacro %}


# row[key] is scoped outside the "summary_td" block of the admin.html #
{% block summary_td %}
    {% if row[key][0]|is_content %}
        <td>
            <ul class="td-list">
                {% for item in row[key] %}
                    <li>{{ content_to_td(item) }}</li>
                {% endfor %}
            </ul>
        </td>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %} %}

{% block app_scripts %}
    <!-- JavaScript for this page -->
    {{ super() }}
    <script src="/static/scripts/recipes.js" type="text/javascript"></script>
{% endblock %}

{% block title %}
    Recipes
{% endblock %}

{% block form_write scoped %}
    {{ super() }}
    <div class="form-group">
        <label for="form-image-current">Current image</label>
        <img form="{{ form_id }}" class="img-form mb-2" id="form-image-current" src="" data-default="{{ RECIPE_IMG_PATH }}{{ IMG_DEFAULT }}" alt="Current image" onerror="img_error(this);"><br>
        <label>
            <input form="{{ form_id }}" class="mb-1" type="checkbox" id="form-image-delete" name="image-delete" data-default=false>
            Delete current image
            <small class="form-text text-muted">Default image will be used.</small>
        </label><br>
        <div form="{{ form_id }}" class="border mb-2" id="form-image-upload-group" data-is_default=true data-default=true>
            <label for="form-image">Choose new image file</label>
            <input form="{{ form_id }}" type="file" id="form-image-upload" name="image" accept="image/jpeg"><br>
            <small class="form-text text-muted">Non-default images are overwritten and cannot be restored.</small>
        </div>
        <label for="form-instructions">Instructions</label><br>
        <textarea form="{{ form_id }}" class="form-control" style="width: 90%" id="form-instructions" name="instructions" rows=10></textarea>
        <small class="form-text text-muted">Instructions should not contain the list of ingredients.</small>
    </div>
    <input form="{{ form_id }}" type="text" class="hidden" id="form-contents" name="contents" data-default=[] value="" hidden/>

    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapsable-contents" aria-expanded="false" aria-controls="collapsable-contents">
        Contents
    </button>
    <div class="collapse" id="collapsable-contents">
        <div class=".form-row">
            <select class="form-control" id="contents-select-ingredient" data-default=0>
                <option value=0 selected="selected" disabled>select ingredient</option>
                {% for i in ingredients|sort(attribute="name") %}
                    <option value={{ i["id"] }}>{{ i["name"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class=".form-row">
            <div class="col">
                <input type="number" class="form-control" id="contents-amount" placeholder="amount" min=0 step="any">
                <small class="form-text text-muted">Set 0 for arbitrary amounts, e.g. for seasonings.</small>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="contents-units" placeholder="units(optional)">
            </div>
        </div>
        <button type="button" class="btn btn-info" id="contents-add">Add</button>
        <div class ="cbadge-container border" id="contents-added"></div>
    </div>
{% endblock %}
